PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/culturando
PGHOST=localhost
PGPORT=5432
PGDATABASE=culturando
PGUSER=postgres
PGPASSWORD=postgres
# local ou postgres
VITE_DATA_SOURCE=local
VITE_API_URL=/api
